---
layout: default
title: "Apresentação"
description: "Um pouco sobre o trabalho e a equipe"
---

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">

          <div class="resume-author-avatar-wrapper">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ site.avatar }}" alt="{{site.copyright_name}}">
          </div>
          <h1 class="resume-name mb-0">{{site.firstname}}
            <span class="text-primary">{{site.lastname}}</span>
          </h1>
          <div class="resume-subheading subheading mb-5">{{site.my_location}} ·
            <a href="mailto:{{site.email}}" title="{{site.email}}">{{site.email}}</a>
          </div>
          <p class="resume-description mb-5">{{site.description}}</p>
          <ul class="resume-social list-inline list-social-icons mb-0">
           {% include contact.html %}
          </ul>
        </div>
      </section>


      <!-- TOPICO TRABALHO-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="the-work">
        <div class="my-auto" >
          <h2 class="mb-5">O Trabalho</h2>
            
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3>Sistema de Informação</h3>
              
              <div class="subheading mb-3">
                  Profº: Vinicius Padua
              </div>
 
              <div>
              </div>
            </div>

            <div class="resume-date text-md-right">
              <h3 class="mb-0">Faculdade Integral Diferencial - FACID | <span class="text-primary"> WYDEN</span></h3>
            </div>
        </div>




          <p>Além de amante da tecnologia, gestão e projetos, busco aprender novos idiomas como o espanhol e inglês.</p>
          <p class="mb-0">Em meus tempos livres busco adquirir conhecimentos em coaching, melhores práticas de gestão assistindo séries como "O Sócio" e "Shark Tank" e aprender sobre investimentos financeiros como Tesouro Direto e Ações.</p>

        </div>
      </section>


      <!-- EQUIPE-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="team">
        <div class="my-auto">
          <h2 class="mb-5">Equipe</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">1. Eduardo Emerson da Silva Rocha</h3>
              <div class="subheading mb-3">edu_mirador@hotmail.com</div>
              <div class="subheading mb-3">(98) 9 8716-0479</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Produção de slide da Apresentação
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Apresentação em Sala de Aula
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">2. Heli Rufino de Carvalho Neto</h3>
              <div class="subheading mb-3">heli.neto10@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9484-1861</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Desenvolvimento Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Planejamento e aplicação das técnicas de SEO
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">3. Herald Freire de Sousa</h3>
              <div class="subheading mb-3">heraldfreire@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9960-2196</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Desenvolvimento Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Planejamento e aplicação das técnicas de SEO
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">4. João Luis</h3>
              <div class="subheading mb-3">DESISTENTE</div></br>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">5. Kauano da Rocha Miranda Silva</h3>
              <div class="subheading mb-3">kauanomiranda@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9905-9480</div>

              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Desenvolvimento Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Planejamento e aplicação das técnicas de SEO
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">6. Leonardo Menezes Neiva Eulalio Filho</h3>
              <div class="subheading mb-3">nardohuck@hotmail.com</div>
              <div class="subheading mb-3">(86) 9 9986-9903</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Produção de posts para o Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                     Resumo escrito
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">7. Maurício Mendes de Azevedo</h3>
              <div class="subheading mb-3">mauriciomendes994@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9943-9360</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Apresentação em Sala de Aula
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">8. Pablo Tafarel de Oliveira Ataide</h3>
              <div class="subheading mb-3">tafarel-p@hotmail.com</div>
              <div class="subheading mb-3">(86)9 8867-4688</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Produção de posts para o Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                     Resumo escrito
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">9. Pedro Victor das Neves Rocha</h3>
              <div class="subheading mb-3">pedrodbt8@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9999-8797</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Desenvolvimento Site/Blog
                  </li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Planejamento e aplicação das técnicas de SEO
                  </li>
                </ul>
              </div>
            </div>



          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">10. Ricardo dos Santos Silva</h3>
              <div class="subheading mb-3">ricarrdoo@gmail.com</div>
              <div class="subheading mb-3">(86) 9 9801-1330</div>
      
              <div class="subheading mb-3">Atividades :</div>
                <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Apresentação em Sala de Aula
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </section>



      <!-- FERRAMENTAS USADAS-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="tools">
        <div class="my-auto">
          <h2 class="mb-5">Ferramentas Usadas
            <a href="/demo/skills-chart.html" class="btn right" title="Gráfico de habilidades">
              Gráfico
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Git | GitHub
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Jekyll - Blog Estático
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
               Bootstrap Framework
             </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              HTML 5 e CSS 3
            </li>
           <li>
              <i class="fa-li fa fa-check"></i>
              Disqus 
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Técnicas de SEO
            </li>
          </ul>

         
        </div>
      </section>


      
      <!-- BLOG-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="blog">
        <div class="my-auto">
          <h2 class="mb-5">Blog
            <a href="/demo/blog-chart.html" class="btn right" title="Gráfico de Blog">
              Gráfico
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </h2>
          <p>Devido ao trabalho proposto pelo professor, bolamos a ideia de criar um blog com posts relacionados ao assunto do trabalho. <a href="/carreira/produtividade/2017/11/18/por-que-fiz-um-blog.html" target="_blank">aqui</a>).</p>
          <p class="mb-0">Escrevemos e repostamos um total de <b>{{site.posts.size}} posts</b>, sobre: 
            {% for category in site.categories %}{{category[0]}}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          </p>
          <br>
          <a  class="btn btn-primary" href="{{ '/blog/' | prepend: site.baseurl }}" title="Visite o Blog">
              Visite o Blog
            </a>
        </div>
      </section>

    </div>