{% if site.facebook_username%}
<li class="list-inline-item">
<a href="https://www.facebook.com/{{site.facebook_username}}" target="_blank" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook {{site.facebook_username}}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>
{% endif %}

{% if site.linkedin_username %}
<li class="list-inline-item">
<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin {{site.linkedin_username}}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>
{% endif %}

{% if site.google_plus_username%}
<li class="list-inline-item">
<a rel="me" href="https://google.com/+{{site.google_plus_username}}" target="_blank" target="_blank" data-toggle="tooltip" data-placement="top" title="Google+ {{site.google_plus_username}}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>
{% endif %}


{% if site.github_username %}
<li class="list-inline-item">
<a href="https://github.com/{{ site.github_username }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Github {{site.github_username}}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>
{% endif %}

{% if site.curriculo_doc %}
<li class="list-inline-item">
  <a href="https://docs.google.com/{{ site.curriculo_doc }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Curriculo {{site.copyright_name}}">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-file-word-o fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}