
 <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <ul class="list-inline text-center">
              {% include contact.html %}
            </ul>
            <p class="copyright text-muted">Copyright &copy; {{site.copyright_name}}, {{ site.time | date: '%Y' }}</p>
          </div>
        </div>
      </div>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/vendor/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/vendor/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/vendor/jquery-easing/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ '/js/resume.min.js' | prepend: site.baseurl }}"></script>