
<!-- Marcação JSON-LD gerada pelo Assistente de marcação para dados estruturados do Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{page.url | prepend : site.url }}"
  },
  "headline" : "{{page.title}}",
  "alternativeHeadline": "{{page.subtitle}}",
  "author" : {
    "@type" : "Person",
    "name" : "{{page.author}}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "{{site.copyright_name}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.avatar}}"
    }
  },
  "image" : "{{site.avatar}}",
  "wordcount": "{{page.content | number_of_words }}",
  "datePublished" : "{{ page.date | date: '%Y-%m-%d' }}",
  "dateCreated" : "{{ page.date | date: '%Y-%m-%d' }}",
  "dateModified" : "{{ page.last_modified_at | date: '%Y-%m-%d' }}",
  "articleSection" : [ {% for category in page.categories %}"{{category}}"{% unless forloop.last %}, {% endunless %} {% endfor %}],
  "keywords": "{% for tag in page.tags %}{{tag}} {% endfor %}",
  "url" : "{{page.url | prepend : site.url }}",
  "articleBody": "{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}"
}
</script>
