<!-- Marcação JSON-LD gerada pelo Assistente de marcação para dados estruturados do Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "{{site.copyright_name}}",
  "image" : "{{site.avatar}}",
  "email" : "{{site.email}}",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Teresina",
    "addressRegion" : "Piauí",
    "addressCountry" : "Brasil"
  },
  "url" : "{{page.url | prepend : site.url }}",
  "sameAs": [
    "https://www.facebook.com/{{site.facebook_username}}",
    "https://linkedin.com/in/{{ site.linkedin_username }}",
    "https://google.com/+{{site.google_plus_username}}",
    "https://github.com/{{ site.github_username }}"
  ]
}
</script>