---
layout: default
---

<!-- Blog Section -->

  	<div class="row">
      <div class="container">
         <section class="resume-section p-3 p-lg-5 d-flex d-column" id="post">
            <header class="my-auto">
              <h1 class="mb-0">{{page.title}}
              </h1>
              {% if page.subtitle %}
                <h3 class="mb-5">
                  {{page.subtitle}}
                </h3>
              {% endif %}
             <span class="meta">Por
                    <a href="{{site.baseurl}}/pesquisar/?q={{page.author | slugfy}}" title="Pesquisar: {{page.author}}">{{page.author}}</a>
                    em {{ page.date | date: "%d %b %Y" }}
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    {% for category in page.categories %}
                      <a href="{{site.baseurl}}/pesquisar/?q={{category | slugfy}}" title="Pesquisar: {{category}}">
                        {{category}}{% unless forloop.last %}, {% endunless %}
                      </a>
                    {% endfor %} 
              </span>
            </header>
        </section>
      </div>
    </div>



<!-- Main Content -->
     <!-- Post Content -->
    <article>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            
          {{content}}

          <div class="clearfix">
              <p>Tópicos:
                {% for tag in page.tags %}
                  <a href="{{site.baseurl}}/pesquisar/?q={{tag | slugfy}}" class="badge badge-light" title="Pesquisar: {{tag}}">{{tag}}</a>
                {% endfor %}
              </p>
            </div>

          
            <div class="article-inner">

              <div class="article-authors ">
                <div class="article-author">
                  <div class="article-author-avatar-wrapper">
                    <div class="article-author-avatar" style="background-image: url({{site.avatar}});"></div>
                  </div>
                  <div class="article-author-info">
                  <div class="article-author-name-wrapper">
                    <h6 class="article-author-name">{{page.author}}</h6>
                    <div class="article-author-social-networks">
                      <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}" title="{{site.linkedin_username}}">linkedin</a>
                      <a target="_blank" href="https://www.facebook.com/{{site.facebook_username}}" title="{{site.facebook_username}}">facebook</a>
                      <a target="_blank" href="{{site.url}}">site</a>
                    </div>
                  </div>
                  <p class="article-author-bio">{{site.description}} </p>
                  <p class="article-author-post-meta">
                    {{ page.date | date: "%d %b %Y" }}
                     - atualizado em {{ page.last_modified_at | date: "%d %b %Y" }}
                  </p>
                </div>
              </div>
              <hr>
            </div>
            


          </div>
        </div>
    </article>

<!-- End Blog Section -->

    <div class="clearfix">
      
      {% if page.previous.url %}
        <a  class="btn btn-primary" href="{{ page.previous.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
          &larr; Anterior
        </a>
      {% endif %}


      {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
         Próximo &rarr;
        </a>
      {% endif %}


    <hr>
    </div>
<!-- Comments -->
    {% if page.comments %}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="clearfix">
            <div class="comments">
            {% if jekyll.environment == 'production' %}
                {% include disqus.html %}
            {% else %}
            <h4>Disqus comentários aqui!</h4>
            {% endif %}
            </div>
          </div>
          
        </div>
      </div>

    {% endif %}

<hr>